@use '../../styles/variables' as *;
@use '../../styles/buttons';
@use '../../styles/spacing';

:host,
:host * {
  font-family: 'Inter', sans-serif;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar-container {
  position: relative;
  z-index: 1000;
}

.topbar-container {
  background-color: $color-yellow-500;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 12px;
  box-sizing: border-box;
}

.system-info-container {
  position: fixed;
  top: 65px;
  right: 12px;
  width: 285px;
  background-color: $color-yellow-500;
  z-index: 1000;
  padding-bottom: 10px;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2px;
    right: 32px;
    width: 39px;
    height: 39px;
    background-color: $color-yellow-500;
    transform: rotate(45deg);
    transform-origin: center;
  }

  h2 {
    font-size: 16px;
    margin-left: 20px;
  }

  .system-info-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .system-info {
    font-size: $font-size-sm;
    width: 100%;
    border-collapse: collapse;

    tr {
      &:nth-child(even) {
        background: $color-yellow-400;
      }

      &:nth-child(odd) {
        background: $color-yellow-300;
      }

      th,
      td {
        text-align: left;
        padding: 8px 4px 8px 2px;
        line-height: 1;
      }

      th {
        width: 140px;
        padding-top: 3px;
        padding-left: 20px;

        img {
          display: inline-block;
          transform: translateY(4px);
        }
      }

      table {
        margin-left: 17px;
        margin-top: 6px;
        margin-bottom: 0;

        tr {
          background-color: transparent !important;

          td {
            &:first-child {
              width: 122px;
            }

            padding-top: 0;
            padding-bottom: 0;
            line-height: 1.4;

            .url {
              word-break: break-all;
            }
          }
        }
      }
    }
  }
}

.canvas-container {
  flex: 1;
  overflow: auto;
  padding: $spacing-lg;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  hb-canvas {
    flex-shrink: 0;
  }
}

.no-screenshot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  p {
    margin-top: $spacing-md;
    font-size: $font-size-base;
  }
}