@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/buttons';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-md $spacing-lg;
  background-color: $color-yellow;
}

h1 {
  font-size: $font-size-lg;
  font-weight: 600;
  margin: 0;
}

.header-actions {
  display: flex;
}

.toolbar-container {
  // TODO: remove class if not being used
}

.canvas-container {
  flex: 1;
  overflow: auto;
  padding: $spacing-lg;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

hb-canvas {
  flex-shrink: 0;
}

.no-screenshot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  p {
    margin-top: $spacing-md;
    font-size: $font-size-base;
  }
}
