@use '../../styles/variables' as *;

:host {
  display: block;
}

canvas {
  display: block;
  box-shadow: $shadow-md;

  &.mode-text {
    cursor: text;
  }

  &.mode-line {
    cursor: crosshair;
  }

  &.mode-default {
    cursor: default;
  }
}