@use '../../styles/variables' as *;

:host {
  display: block;
  position: relative;
}

canvas {
  display: block;

  &.mode-default {
    cursor: default;
  }

  &.mode-select {
    cursor: default;
  }

  &.mode-text {
    cursor: text;
  }

  &.mode-line {
    cursor: crosshair;
  }

  &.mode-arrow {
    cursor: crosshair;
  }

  &.mode-rectangle {
    cursor: crosshair;
  }

  &.mode-crop {
    cursor: crosshair;
  }
}

.crop-buttons {
  position: absolute;
  display: flex;
  gap: 3px;
  z-index: 10;
  pointer-events: none;

  button {
    width: 24px;
    height: 24px;
    border: 1px solid $color-white;
    border-radius: 5px;
    background: $color-black;
    color: $color-white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    pointer-events: auto;

    &:hover {
      background: $color-red-400;
    }

    &:active {
      background: $color-red-500;
    }

    img {
      width: 16px;
      height: 16px;
      display: block;
    }
  }
}