@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

:host {
  display: block;
  min-width: 240px;
  max-width: 100vw;
  box-sizing: border-box;
  font-family: $font-family;
  background: $bg-yellow;
  color: $text-primary;
  padding: $spacing-lg;
}

.popup-content {
  width: 100%;
  box-sizing: border-box;
}

.logo-with-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing-md;
  margin-bottom: 20px;

  img {
    width: 32px;
    height: 32px;
    display: block;
  }

  h1 {
    font-size: $font-size-xl;
    margin: 0;
    color: $text-primary;
    line-height: 1;
    font-family: 'Geom', $font-family;
  }
}

h2 {
  font-size: $font-size-base;
  margin: $spacing-lg 0 $spacing-sm 0;
  color: $text-primary;
}

button {
  @include button-base;
  width: 100%;
  margin: 5px 0;
}

.info-item {
  margin-top: $spacing-md;
  font-size: $font-size-sm;
  color: $text-secondary;
  word-break: break-all;
}
