@use '../../styles/variables' as *;
@use '../../styles/buttons';
@use '../../styles/spacing';

:host,
:host * {
  font-family: 'Inter', sans-serif;
}

:host {
  display: block;
  width: 325px;

  background: $color-white;
  color: $color-black;
  padding: $spacing-md;
  padding-bottom: 8px;
}

.popup {
  background: $color-yellow-500;
  width: 285px;
  height: 100%;
  padding-bottom: 10px;

  .logo-with-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-md;
    padding-top: $spacing-lg;
    padding-left: $spacing-lg;
    margin-bottom: 20px;

    img {
      width: 32px;
      height: 32px;
      display: block;
    }

    h1 {
      font-size: $font-size-lg;
      margin: 0;
      line-height: 1;
      letter-spacing: 0.5px;
      font-family: 'MomoTrustDisplay', sans-serif;
    }
  }
}