@use '../../styles/variables' as *;
@use '../../styles/buttons';
@use '../../styles/spacing';

:host,
:host * {
  font-family: 'Inter', sans-serif;
}

:host {
  display: block;
  width: 325px;

  background: $color-white;
  color: $color-black;
  padding: $spacing-md;
  padding-bottom: 8px;
}

.popup {
  background: $color-yellow-500;
  width: 285px;
  height: 100%;
  padding-bottom: 10px;

  .logo-with-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-md;
    padding-top: $spacing-lg;
    padding-left: $spacing-lg;
    margin-bottom: 20px;

    img {
      width: 32px;
      height: 32px;
      display: block;
    }

    h1 {
      font-size: $font-size-lg;
      margin: 0;
      line-height: 1;
      letter-spacing: 0.5px;
      font-family: 'MomoTrustDisplay', sans-serif;
    }
  }

  h2 {
    font-size: $font-size-base;
  }

  .action-button.tertiary {
    margin-left: $spacing-md;
  }

  .environment-details {
    font-size: $font-size-sm;
    width: 100%;
    border-collapse: collapse;

    tr {
      &:nth-child(even) {
        background: $color-yellow-400;
      }

      &:nth-child(odd) {
        background: $color-yellow-300;
      }

      th,
      td {
        text-align: left;
      }

      th {
        width: 150px;
        padding: $spacing-sm $spacing-md $spacing-sm 0;
        background-color: red;

        img {
          display: inline-block;
        }
      }

      td {
        padding: $spacing-sm $spacing-md;
      }
    }
  }
}