@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/buttons';

:host,
:host * {
  font-family: 'Inter', sans-serif;
}

:host {
  display: block;
  min-width: 240px;
  max-width: 100vw;
  box-sizing: border-box;
  background: $color-yellow;
  color: $color-black;
  padding: $spacing-lg;
}

.popup-content {
  width: 100%;
  box-sizing: border-box;
}

.logo-with-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing-md;
  margin-bottom: 20px;

  img {
    width: 32px;
    height: 32px;
    display: block;
  }

  h1 {
    font-size: $font-size-xl;
    margin: 0;
    line-height: 1;
    font-family: 'Geom';
  }
}

h2 {
  font-size: $font-size-base;
}

.info-item {
  margin-top: $spacing-md;
  font-size: $font-size-sm;
  word-break: break-all;
}
