@use '../../styles/variables' as *;
@use '../../styles/buttons';
@use '../../styles/spacing';

:host,
:host * {
  font-family: 'Inter', sans-serif;
}

:host {
  display: block;
  width: 350px;

  background: $color-white;
  color: $color-black;
  padding: $spacing-md;
  padding-bottom: 8px;
}

.popup {
  background: $color-yellow-500;
  width: 285px;
  height: 100%;
  padding-bottom: 15px;

  .logo-with-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 15px;

    .logo {
      width: 32px;
      height: 32px;
      display: block;
      margin-right: 10px;
    }

    .heading {
      transform: translateY(2px);
    }
  }

  button {
    margin-left: 45px;
  }
}