@use 'variables' as *;

button {
  &.action-button {
    cursor: pointer;
    display: block;
    border: none;
    font-size: 14px;
    padding: $spacing-md $spacing-lg;
    border-radius: 12px;
    line-height: 1;
    min-height: 36px;

    &.primary {
      color: $color-white;
      background-color: $color-black;
      padding-top: calc($spacing-md - 3px);

      img {
        display: inline-block;
        margin-right: calc($spacing-sm - 2px);
        transform: translateY(3px);
      }

      &:hover {
        background-color: $color-red-500;
      }

      &:active {
        background-color: $color-red-400;
      }
    }

    &.secondary {
      color: $color-black;
      background-color: transparent;
      border: 1px solid $color-black;

      &:hover {
        color: $color-red-500;
        border-color: $color-red-500;
      }

      &:active {
        color: $color-red-400;
        border-color: $color-red-400;
      }
    }

    &.tertiary {
      font-size: 12px;
      color: $color-black;
      background-color: transparent;
      border-bottom: 1px solid $color-black;
      border-radius: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 3px;
      min-height: 22px;

      img {
        display: inline-block;
        margin-right: 0;
        transform: translateY(3px);

        &.icon-hover,
        &.icon-active {
          display: none;
        }
      }

      &:hover {
        color: $color-red-500;
        border-color: $color-red-500;

        img {

          &.icon-default,
          &.icon-active {
            display: none;
          }

          &.icon-hover {
            display: inline-block;
          }
        }
      }

      &:active {
        color: $color-red-400;
        border-color: $color-red-400;

        img {

          &.icon-default,
          &.icon-hover {
            display: none;
          }

          &.icon-active {
            display: inline-block;
          }
        }
      }
    }
  }

  &.icon-button,
  &.icon-button-no-background {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    min-height: auto;
    width: 40px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    img {
      display: inline-block;
      margin: 0;
    }
  }

  &.icon-button {
    img {

      &.icon-hover-and-active {
        display: none;
      }
    }

    &:hover {
      background-color: $color-red-500;

      img {

        &.icon-default {
          display: none;
        }

        &.icon-hover-and-active {
          display: inline-block;
        }
      }
    }

    &:active {
      background-color: $color-red-400;

      img {

        &.icon-default {
          display: none;
        }

        &.icon-hover-and-active {
          display: inline-block;
        }
      }
    }

    &.activated {
      background-color: $color-white;

      &:hover {
        img {

          &.icon-default {

            display: inline-block;
          }

          &.icon-hover-and-active {
            display: none;
          }
        }
      }
    }
  }

  &.icon-button-no-background {
    &:disabled {
      cursor: default;
    }

    img {

      &.icon-hover,
      &.icon-active {
        display: none;
      }
    }

    &:hover:not(:disabled) {
      img {

        &.icon-default,
        &.icon-active {
          display: none;
        }

        &.icon-hover {
          display: inline-block;
        }
      }
    }

    &:active:not(:disabled) {
      img {

        &.icon-default,
        &.icon-hover {
          display: none;
        }

        &.icon-active {
          display: inline-block;
        }
      }
    }
  }
}