@use 'variables' as *;

button {
  &.action-button {
    cursor: pointer;
    display: block;
    border: none;
    font-size: 14px;
    padding: $spacing-md $spacing-lg;
    border-radius: 12px;
    line-height: 1;
    min-height: 36px;

    &.primary {
      color: $color-white;
      background-color: $color-black;
      padding-top: calc($spacing-md - 3px);
      transition: $transition;

      img {
        display: inline-block;
        margin-right: calc($spacing-sm - 2px);
        transform: translateY(3px);
      }

      &:hover {
        background-color: $color-red-500;
      }

      &:active {
        background-color: $color-red-400;
      }
    }

    &.secondary {
      font-size: 12px;
      color: $color-black;
      background-color: transparent;
      border: 1px solid $color-black;
      border-radius: 10px;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 3px;
      min-height: 28px;
      line-height: 1;

      img {
        display: inline-block;
        margin-right: 0;
        transform: translateY(3px);

        &.icon-hover,
        &.icon-active {
          display: none;
        }
      }

      &:hover {
        color: $color-red-500;
        border-color: $color-red-500;

        img {

          &.icon-default,
          &.icon-active {
            display: none;
          }

          &.icon-hover {
            display: inline-block;
          }
        }
      }

      &:active {
        color: $color-red-400;
        border-color: $color-red-400;

        img {

          &.icon-default,
          &.icon-hover {
            display: none;
          }

          &.icon-active {
            display: inline-block;
          }
        }
      }
    }
  }

  &.icon-button {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    min-height: auto;
    width: 40px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: $transition;

    img {
      display: inline-block;
      margin: 0;

      &.icon-hover,
      &.icon-active {
        display: none;
      }
    }

    &:disabled {
      cursor: default;
    }

    &:hover:not(:disabled) {
      img {

        &.icon-default,
        &.icon-active {
          display: none;
        }

        &.icon-hover {
          display: inline-block;
        }
      }
    }

    &:active:not(:disabled) {
      img {

        &.icon-default,
        &.icon-hover {
          display: none;
        }

        &.icon-active {
          display: inline-block;
        }
      }
    }
  }
}