@use 'variables' as *;

button {
  &.action-button {
    cursor: pointer;
    display: block;
    border: none;
    font-size: 14px;
    padding: $spacing-md $spacing-lg;
    border-radius: 12px;
    line-height: 1;
    min-height: 36px;

    &.primary {
      color: $color-white;
      background-color: $color-black;
      padding-top: calc($spacing-md - 3px);

      img {
        display: inline-block;
        margin-right: calc($spacing-sm - 2px);
        transform: translateY(3px);
      }

      &:hover {
        background-color: $color-red-400;
      }

      &:active {
        background-color: $color-red-500;
      }
    }

    &.secondary {
      color: $color-black;
      background-color: transparent;
      border: 1px solid $color-black;
      border-radius: 10px;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 4px;
      min-height: 34px;
      line-height: 1;

      img {
        display: inline-block;
        margin-right: 0;
        transform: translateY(3px);

        &.icon-hover-and-active {
          display: none;
        }
      }

      &:hover {
        color: $color-white;
        border-color: $color-red-400;
        background-color: $color-red-400;

        img {

          &.icon-default {
            display: none;
          }

          &.icon-hover-and-active {
            display: inline-block;
          }
        }
      }

      &:active,
      &.activated {
        color: $color-white;
        border-color: $color-red-500;
        background-color: $color-red-500;

        img {

          &.icon-default {
            display: none;
          }

          &.icon-hover-and-active {
            display: inline-block;
          }
        }
      }
    }

    &.tertiary {
      cursor: pointer;
      background: transparent;
      border: none;
      padding: 0 8px 0 5px;
      min-height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      border-radius: 12px;
      color: $color-black;

      img {
        display: inline-block;
        margin: 0 5px 0;

        &.icon-hover-and-active {
          display: none;
        }
      }

      &:disabled {
        cursor: default;
      }

      &:hover:not(:disabled) {
        background-color: $color-red-400;
        color: $color-white;

        img {

          &.icon-default,
          &.icon-hover-and-active {
            display: none;
          }

          &.icon-hover-and-active {
            display: inline-block;
          }
        }
      }

      &:active:not(:disabled) {
        background-color: $color-red-500;
        color: $color-white;

        img {

          &.icon-default,
          &.icon-hover-and-active {
            display: none;
          }

          &.icon-hover-and-active {
            display: inline-block;
          }
        }
      }
    }
  }
}