@use 'variables' as *;

.mt-sm {
  margin-top: $spacing-sm;
}

.mr-sm {
  margin-right: $spacing-sm;
}

.mb-sm {
  margin-bottom: $spacing-sm;
}

.ml-sm {
  margin-left: $spacing-sm;
}

.mt-md {
  margin-top: $spacing-md;
}

.mr-md {
  margin-right: $spacing-md;
}

.mb-md {
  margin-bottom: $spacing-md;
}

.ml-md {
  margin-left: $spacing-md;
}

.mt-lg {
  margin-top: $spacing-lg;
}

.mr-lg {
  margin-right: $spacing-lg;
}

.mb-lg {
  margin-bottom: $spacing-lg;
}

.ml-lg {
  margin-left: $spacing-lg;
}