@use '../../../styles/variables' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

label {
  font-size: $font-size-sm;
  font-weight: 600;
  color: $color-black;
  cursor: pointer;
}

.required {
  color: $color-red-400;
  margin-left: $spacing-sm;
}

p {
  margin: 0;
  font-size: $font-size-sm;
  color: $color-black;
  opacity: 0.6;
}

:host(.invalid) {
  label {
    color: $color-red-400;
  }

  p {
    color: $color-red-400;
    opacity: 1;
  }
}
