@use '../../styles/variables' as *;

.toolbar {
  border: 3px solid $color-white;
  background-color: $color-yellow-500;
  display: inline-block;
  position: fixed;
  top: 20px;
  left: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  .logo {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      height: auto;
    }
  }

  .tools {
    display: flex;
    flex-direction: column;
  }

  .download {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-black;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $color-red-400;
    }

    &:active {
      background-color: $color-red-500;
    }

    img {
      width: 16px;
      height: auto;
    }
  }
}