@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

:host {
  display: flex;
  align-items: center;
}

.tool-btn {
  // TODO: remove if not used
}

input[type='color'] {
  width: 36px;
  height: 36px;
  padding: 2px;
  cursor: pointer;

  &::-webkit-color-swatch-wrapper {
    padding: 2px;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: 2px;
  }
}
