@use '../../styles/variables' as *;

.toolbar {
  border: 3px solid $color-white;
  background-color: $color-yellow-400;
  display: inline-block;
  position: fixed;
  top: 15px;
  left: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  .logo {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      height: auto;
    }
  }

  .tools {
    display: flex;
    flex-direction: column;
  }
}